* {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    height: 600px;
    width: 1360px;
    background-image: url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 300px;
    color: #FFFFFF;
}

.header-title {
    font-size: 30px;
    padding-top: 165px;
    font-weight: bolder;
}

.header-description {
    font-size: 50px;
    font-weight: bolder;
}

.offer {
    margin-top: 150px;
    text-align: center;
}

.offer-title {
    font-size: 50px;
    color: red;
    font-weight: bolder;
}

.offer-description1 {
    color: red;
    font-weight: bold;
}

.offer-description2 {
    font-weight: bold;
}

.welcome {
    width: 1320px;
    height: 600px;
    text-align: left;
    margin-top: 150px;
    background-image: url('../Images/Vectorrr.png');
    margin-left: 300px;
}

.welcome-content {
    margin-left: 100px;
    padding-top: 100px;
    color: #FFFFFF;
    max-width: 642px;
}

.welcome-title {
    font-size: 50px;
    font-weight: bolder;
}
.address{
    background-color: rgb(248, 157, 157);
    width: 1320px;
    height: 482px;
    color: black;
    font-size: 40px;
    margin-left: 300px;
    border-radius: 16px;
    margin-top: 200px;
}
.address ul{
    list-style: none;
    text-align: center;
    padding-top: 100px;
}
.btn-primary{
    width: 167px;
    height: 56px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
.address-title{
    color: red;
}
.address li{
    padding: 10px;
}
.address button{
    margin-top: 25px;
}
.product-container{
    width: 1320px;
    height: 1163px;
    margin-left: 300px;
    margin-top: 100px;
}
.product-contents{
    max-width: 896px;
}
.product-title1{
    color: red;
    font-weight: bold;
}
.product-title2{
    color: black;
    font-weight: bolder;
}
.product-description{
    color: #070211;
}
.product-column{
    width: 424px;
    padding-right: 15px;
}
.product-images{
    display: flex;
}
.product-column img{
    padding-bottom: 15px;
}
.subscriber{
    width: 1320px;
    height: 616px;
    margin-left: 300px;
    background-color: rgb(245, 238, 238);
    border-radius: 16px;
}
.subscriber-content{
    text-align: center;
    padding-top: 140px;
}
.subscriber-input{
    text-align: center;
}
.subscriber-input input{
    width: 600px;
    height: 56px;
    border: none;
    border-radius: 50px;
}
footer{
    background-color: #070211;
    margin-top: 100px;
}
.footer-info{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    margin-bottom: 100px;
    padding-top: 100px;
}
.social-links{
    width: 328px;
    height: 64px;
    margin: 0 auto;
}
.footer-bottom{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 100px 300px;
}
